agentscope==1.0.10
anaconda-client==1.11.3
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.109.1
anyio==4.13.0
appdirs==1.4.4
atomicwrites==1.4.0
attrs==26.1.0
backports.weakref==1.0.post1
bidict==0.23.1
brotlipy==0.7.0
cached-property==2.0.1
click==8.4.1
clyent==1.2.2
conda-repo-cli==1.0.41
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
daal4py==2023.1.1
dashscope==1.25.21
datasets==5.0.0
datashape==0.5.4
dill==0.4.1
distro==1.9.0
docstring_parser==0.18.0
et-xmlfile==1.1.0
filelock==3.29.3
fonttools==4.25.0
fsspec==2026.4.0
googleapis-common-protos==1.75.0
grpcio==1.81.0
h11==0.16.0
hf-xet==1.5.1
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.19.0
inflection==0.5.1
jiter==0.15.0
json_repair==0.60.1
jsonpointer==2.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
